@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Regular.woff') format('woff'),
    url('../../fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-Medium.woff') format('woff'),
    url('../../fonts/Raleway-Medium.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway-SemiBold.woff') format('woff'),
    url('../../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 800;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
